@media (max-width: 1439px) {
  .sidepanel {
    display: none;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .about {
    &__wrapper {
      grid-template-columns: 520px 400px;
      column-gap: 40px;
    }
    &__skills {
      column-gap: 20px;
      grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
      &-item {
        column-gap: 15px;
        grid-template-columns: 40px 195px;
      }
    }
  }
  .resume {
    &__wrapper {
      grid-template-columns: repeat(2, 325px);
      column-gap: 105px;
    }
  }

  .skills {
    &__items {
      grid-template: repeat(2, minmax(270px, auto)) / repeat(3, 270px);
      justify-content: space-between;
      row-gap: 30px;
    }
    &__ratings {
      grid-template: repeat(3, minmax(70px, auto)) / repeat(2, 350px);
      column-gap: 105px;
      line-height: 26px;
    }
  }
  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 280px);
      grid-auto-rows: 280px;
      justify-content: space-between;
      row-gap: 30px;
      .horizonal,
      .vertical {
        grid-row: unset;
        grid-column: unset;
      }
    }
  }
  .contacts {
    &__wrapper {
      padding: 0;
      grid-template-columns: 400px 520px;
    }
    &__form {
      grid-template: 45px 190px 45px / repeat(2, 250px);
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .title {
    &_fz36 {
      font-size: 30px;

      line-height: 42px;
      margin-top: 26px;
    }
    &_fz48 {
      font-size: 28px;
    }
  }
  .divider {
    margin: 15px auto 0 auto;
  }
  .about {
    &__wrapper {
      grid-template-columns: 380px 300px;
    }
    &__skills {
      grid-template-columns: 380px;
      grid-auto-rows: minmax(115px, auto);
      &-item {
        grid-template-columns: 40px 320px;
        column-gap: 20px;
      }
    }
  }
  .resume {
    &__wrapper {
      grid-template-columns: repeat(2, 255px);
      column-gap: 85px;
      padding-left: 0;
    }
  }
  .skills {
    &__items {
      grid-template: repeat(4, minmax(270px, auto)) / repeat(2, 250px);
      justify-content: space-between;
      row-gap: 30px;
    }
    &__ratings {
      grid-template: repeat(6, minmax(70px, auto)) / 350px;
      column-gap: 45px;
    }
  }
  .price {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 350px);
      padding: 0;
    }
  }
  .contacts {
    &__wrapper {
      grid-template-columns: 300px 400px;
    }
    &__form {
      grid-template: 45px 190px 45px / repeat(2, 195px);
    }
    &__btn {
      padding: 8px 25px;
      line-height: 16px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .title {
    &_fz48 {
      font-size: 28px;
    }
  }
  .promo {
    &__title {
      line-height: 39px;
      width: 300px;
    }
  }
  .about {
    padding-top: 40px;
    &__wrapper {
      grid-template: 400px auto auto / 100%;
    }
    &__photo {
      grid-row: unset;
      grid-row: 1/2;
      grid-column: 1/2;
    }
    &__skills {
      grid-template-columns: repeat(2, 260px);
      &-item {
        grid-template-columns: 40px 200px;
        column-gap: 20px;
      }
    }
  }
  .resume {
    &__wrapper {
      grid-template-columns: 255px;
      padding-left: 15px;
    }
  }
  .skills {
    &__ratings {
      grid-template: repeat(6, minmax(70px, auto)) / 350px;
      column-gap: 45px;
    }
  }
  .portfolio {
    padding-top: 40px;
    &__wrapper {
      justify-content: center;
    }
  }
  .price {
    padding-top: 40px;
    &__wrapper {
      margin-top: 20px;
      justify-content: center;
    }
  }
  .contacts {
    padding-top: 0;
    &__photo {
      display: none;
    }
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__form {
      grid-template: 45px 190px 45px / repeat(2, 250px);
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 13px;
  }

  .title {
    &_fz48 {
      font-size: 26px;
    }
    &_fz36 {
      font-size: 24px;
    }
  }
  .hamburger {
    right: 20px;
  }
  .menu {
    &__block {
      width: 250px;
      padding-left: 20px;
    }
  }
  .promo {
    background: url("../img/geometria-73475941-photo.jpg") no-repeat 50% / cover;
    &__wrapper {
      margin-top: 290px;
      margin-left: 7px;
    }
    &__btns {
      margin-top: 50px;
    }
  }
  .about {
    &__wrapper {
      grid-template: 340px auto auto / 1fr;
    }
    &__skills {
      grid-template-columns: 1fr;
    }
  }
  .skills {
    &__items {
      grid-template: repeat(7, minmax(270px, auto)) / 270px;
      justify-content: center;
      row-gap: 20px;
    }
    &__ratings {
      grid-template: repeat(6, minmax(70px, auto)) / 300px;
      column-gap: 15px;
      &-line {
        width: 300px;
      }
    }
  }
  .price {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 295px);
    }
  }
  .contacts {
    padding-bottom: 50px;
    &__form {
      grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
    }
    &__textarea {
      grid-column: unset;
      width: 100%;
    }
    &__triggers {
      grid-column: unset;
      grid-template-columns: 1fr;
      column-gap: unset;
      row-gap: 20px;
    }
    &__btn {
      order: 2;
      max-width: 220px;
      margin: 0 auto;
    }
    &__policy {
      width: 180px;
      margin: 0 auto;
      line-height: 18px;
    }
  }
}
