.sidepanel {
  position: fixed;
  top: 230px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 340px;
  z-index: 3;
  fill: #ffffff;

  &__link {
    svg path {
      fill: $color-social;
    }
  }

  &__divider {
    width: 2px;
    height: 70px;
    background-color: $color-social;
  }
  &__text {
    color: $color-social;
    width: 25px;
    height: 150px;
    span {
      transform: rotate(-90deg) translate(-30%, -260%);
      display: block;
      width: 150px;
    }
  }
}
